*.tgz
node_modules/
dist*/
coverage/
.c8/
.duel-cache/

# playwright artifacts
playwright-report/
test-results/
blob-report/
.knighted-css*/
packages/playwright/src/**/*.knighted-css.ts
packages/playwright/src/mode/**/*.d.ts
