*.tgz
node_modules/
dist/
dist-webpack/
dist-auto-stable/
coverage/
.c8/
.duel-cache/

# playwright artifacts
playwright-report/
test-results/
blob-report/
.knighted-css/
.knighted-css-auto/
packages/playwright/src/**/*.knighted-css.ts
